<% include header %>


  <div class="ticketHolder">
    <div class="textHolder">
    <h1 class="title">Buy an m-ticket</h1>
    <p class="paragraph">Use one of the M-tickets apps and pay digitaly</p>
    <hr class="hR">
    <div class="ticketImg"></div>
    <div class="floatRightText">
      <h2 class="underTitle">Be Mobile</h2>
      <p class="paragraph">Text 4411 to recieve your m-ticket on your phone.</p>
    </div>
    </div>
    <button class="actionButton" type="button" name="button">Get m-ticket</button>
  </div>

  <div class="ticketHolder">
    <div class="textHolder">
    <h1 class="title">Buy an sms-ticket</h1>
    <p class="paragraph">Sms-tickets are charged through your services provider’s invoice or deducted from credit. This incurs a €0.15 fee.</p>
    </div>
    <button class="actionButton" type="button" name="button">Buy sms-ticket</button>
  </div>

	<a href="planRoute"><button class="actionButtonBigger" type="button" name="button">Plan Route</button></a>


<%  include footer %>
