<% include header %>



<img src="img/logo.png" alt="">

<a href="/buyTicket"><button class="actionButton" type="button" name="button">Buy Ticket</button></a>
<a href="recentStops"><button class="actionButton" type="button" name="button">Recent Locations</button></a>
<a href="/zoekhaltes"><button class="actionButton" type="button" name="button">Nearby Stops</button></a>
<a href="planRoute"><button class="actionButtonBigger" type="button" name="button">Plan Route</button></a>

<%  include footer %>
