<% include header %>

<div class="textHolder spatieBoven">
  <a class="travelName"href="#">Language</a>
  <hr class="hR2">
  <a class="travelName"href="#">Active Route</a>
  <hr class="hR2">
  <a class="travelName"href="#">Show/Hide end Stops</a>
  <hr class="hR2">
  <a class="travelName"href="#">Send Feedback</a>
  <hr class="hR2">
  <a class="travelName"href="#">De Lijn Twitter</a>
  <hr class="hR2">
  <a class="travelName"href="#">De Lijn Facebook</a>
  <hr class="hR2">
  <a class="travelName"href="#">Terms and conditions</a>
  <hr class="hR2">
  <a class="travelName"href="#">Privacy policy</a>
  <hr class="hR2">
</div>

<a href="/planRoute"><button class="actionButtonBigger" type="button" name="button">Plan Route</button></a>




<%  include footer %>
