<% include header %>

<div class="ticketHolder spatie">
  <div class="textHolder">
  <h2 class="underTitle">Log on with your delijn.be account</h2>
  <input class="inputField logIn"type="text" name="" value="" placeholder="E-mail adress">
  <hr class="hR2">
  <input class="inputField logIn"type="text" name="" value="" placeholder="Password">
</div>
</div>

<button class="actionButton" type="button" name="button">Log On</button>

<a class="lostPassword"href="#">lost password?</a>

<div class="ticketHolder">
<div class="textHolder">
  <h2 class="underTitle">Always access to your saved stops, routes and locations.</h2>
  <p class="paragraph">Use your account on delijn.be <br>
     Use shared data on another smartphone or tablet <br>
     Automatic backup of your data</p>
</div>
</div>

<button class="actionButtonBigger" type="button" name="button">Create Account</button>



<%  include footer %>
