<% include header %>

<div class="ticketHolder spatie">
  <div class="textHolder">
    <input class="inputField"type="text" name="" value="" placeholder="Current Location">
    <hr class="hR2">
    <input class="inputField" type="text" name="" value="" placeholder="Adress, stops, train, station, ..">

    <div class="travelOptionsHolder">
      <img src="img/bus.png" alt="">
      <img src="img/tram.png" alt="">
      <img src="img/metro.png" alt="">
      <img src="img/train.png" alt="">
      <img src="img/belbus.png" alt="">
    </div>
  </div>
</div>

<a href="/login"><button class="actionButton" type="button" name="button">Log On</button></a>

<div class="textHolder planRouteHolder">

  <h2>Saved Routes</h2>
  <hr class="hR2">
  <img src="img/bus.png" alt=""><a class="travelName"href="#">Groenplaats, Antwerpen</a>
  <hr class="hR2">
  <img src="img/tram.png" alt=""><a class="travelName"href="#">Kammestraat, Antwerpen</a>
  <hr class="hR2">
  <img src="img/location.png" alt=""><a class="travelName"href="#">Groenplaats, Antwerpen</a>
  <hr class="hR2">
  <img src="img/bus.png" alt=""><a class="travelName"href="#">Centraal Station Antwerpen</a>
  <hr class="hR2">
  <img src="img/location.png" alt=""><a class="travelName"href="#">Ellermanstraat, Antwerpen</a>
  <hr class="hR2">
  <img src="img/bus.png" alt=""><a class="travelName"href="#">Station Leuven</a>
  <hr class="hR2">
</div>




<%  include footer %>
