<% include header %>

<div class="ticketHolder">
  <div class="textHolder">
    <input class="inputField" type="text" name="" value="" placeholder="Adress, Stops, ..">
  </div>
</div>
<div class="textHolder planRouteHolder">

<h2 class="underTitle">Recent Stops</h2>
<hr class="hR2">

<div class="stopsHolder">
  <img class="stopNummer"src="img/stop1.png" alt=""><img class="stopNummer" src="img/stop2.png" alt=""><p class="paragraph">Station Geel</p>
  <hr class="hR2">
</div>
<div class="stopsHolder">
  <img class="stopNummer" src="img/stop3.png" alt=""><img class="stopNummer" src="img/stop4.png" alt=""><p class="paragraph">UZA, Antwerpen</p>
  <hr class="hR2">
</div>
<div class="stopsHolder">
  <img class="stopNummer" src="img/stop5.png" alt=""><img class="stopNummer" src="img/stop6.png" alt=""><p class="paragraph">Station Mechelen</p>
  <hr class="hR2">
</div>


</div>

<div class="ticketHolder">
  <div class="textHolder">
    <p class="paragraph">Tip: log on with your delijn.be account.
      You’ll be able to share saved stops,
      locations and routes between the app
      and the website</p>
    </div>
</div>

<a href="/planRoute"><button class="actionButtonBigger" type="button" name="button">Plan Route</button></a>




<%  include footer %>
