<% include header %>

<div class="ticketHolder logInHolder planRoute recentLocation">

    <input class="recentLocation" type="text" name="" value="" placeholder="Adress, Stops, ..">

</div>
<div class="infoHolder planRouteHolder">

  <h2>Recent Locations</h2>
  <hr>
  <img class="travelOption"src="img/bus.png" alt=""><a href="#">Groenplaats, Antwerpen</a>
  <hr>
  <img class="travelOption"src="img/tram.png" alt=""><a href="#">Kammestraat, Antwerpen</a>
  <hr>
  <img class="travelOption"src="img/location.png" alt=""><a href="#">Groenplaats, Antwerpen</a>
  <hr>
  <img class="travelOption"src="img/bus.png" alt=""><a href="#">Centraal Station Antwerpen</a>
  <hr>
  <img class="travelOption"src="img/location.png" alt=""><a href="#">Ellermanstraat, Antwerpen</a>
  <hr>
  <img class="travelOption"src="img/bus.png" alt=""><a href="#">Station Leuven</a>
  <hr>
</div>

<a href="planRoute.html"><button class="biggerScreenButton homeScreenButton" type="button" name="button">Plan Route</button></a>



<%  include footer %>
