<% include header %>

<div class="ticketHolder logInHolder planRoute">
  <input type="text" name="" value="" placeholder="Current Location">
  <hr>
  <input type="text" name="" value="" placeholder="Adress, stops, train, station, ..">

  <div class="travelOptionsHolder">
    <img src="img/bus.png" alt="">
    <img src="img/tram.png" alt="">
    <img src="img/metro.png" alt="">
    <img src="img/train.png" alt="">
    <img src="img/belbus.png" alt="">
  </div>


</div>

<div class="infoHolder planRouteHolder">

  <h2>Depart Now</h2>
  <hr>

  <div class="departHolder">
    <p>10:44 -> 12:54</p>
    <img src="img/bus.png" alt=""> <img src="img/arrRight.png" alt=""> <img src="img/voet.png" alt=""> <img src="img/arrRight.png" alt=""> <img src="img/tram.png" alt="">
    <p>Transfers: 2 - On foot 1582m</p>
    <hr>
  </div>

  <div class="departHolder">
    <p>10:58 -> 12:58</p>
    <img src="img/tram.png" alt=""> <img src="img/arrRight.png" alt=""> <img src="img/train.png" alt=""> <img src="img/arrRight.png" alt=""> <img src="img/voet.png" alt=""><img src="img/arrRight.png" alt=""> <img src="img/bus.png" alt="">
    <p>Transfers: 3 - On foot 1982m</p>
    <hr>
  </div>


  <div class="departHolder">
    <p>11:05 -> 13:20</p>
    <img src="img/metro.png" alt=""> <img src="img/arrRight.png" alt=""> <img src="img/voet.png" alt="">
    <p>Transfers: 1 - On foot 892m</p>
    <hr>
  </div>

</div>


<%  include footer %>
